/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Styles */
:root {
  --primary-yellow: #F6C400;
  --dark-green: #1F3D2B;
  --bg-offwhite: #FFFDF7;
  --text-dark: #2B2B2B;
}

body {
  background-color: var(--bg-offwhite);
  color: var(--text-dark);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.btn-primary-custom {
  background-color: var(--primary-yellow);
  color: var(--dark-green);
  border: none;
  font-weight: 600;
}

.btn-primary-custom:hover {
  background-color: var(--dark-green);
  color: white;
}
.card p {
  line-height: 1.6;
}

/* Hide the spin buttons in WebKit browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.food {
  border-radius: 15px;
}
/* Media querry */
@media screen and (max-width:1024px) {
  .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (min-width:1024px) {
  .cta {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    gap: 20px;
  }
}

.nav-pills .nav-link.active {
  background-color: #198754; /* bootstrap success */
  color: #fff;
}

.about {
  border-radius: 10px;
}